html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  padding-top: 3rem;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.btn-login-nav {
  background-color: #EB0045;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 0%;
}

.btn-login-nav:hover {
  background-color: transparent;
  border: 1px solid #EB0045ff;
  color: #EB0045; 
  transition: ease-in 300ms;
}

